/* box-sizing: border-box;を設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* フォントサイズの拡大を防ぐ */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* デフォルトのマージンを削除、作成するCSSの制御を改善するため */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* リストのスタイルを削除、これはデフォルトのスタイルが削除されることを示唆します */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* bodyのデフォルトを設定 */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* 見出しやインタラクティブ要素のline-heightを設定 */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* 見出しのテキスト折り返しをbalanceに設定 */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* classを持たないa要素はデフォルトのスタイルを継承 */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* 画像の扱いを簡単にする */
img,
picture {
  max-width: 100%;
  display: block;
}

/* inputやbuttonなどのfontは継承 */
input,
button,
textarea,
select {
  font: inherit;
}

/* rows属性のないtextareasが小さくならないようにする */
textarea:not([rows]) {
  min-height: 10em;
}

/* アンカーされている要素には余分なスクロールマージンが必要 */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #fafafa;
  color: #172554;
}

a {
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0; /* 開始時点では完全に透明に */
    transform: translateY(50px); /* 開始時点では下に50px移動している */
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    opacity: 1; /* 終了時点で完全に不透明に */
    transform: translateY(0); /* 終了時点では元の位置に */
  }
}
::view-transition-new(fade-in) {
  animation-name: fadeInUp; /* アニメーション名を指定 */
  animation-duration: 0.2s; /* アニメーションの持続時間を指定 */
  animation-timing-function: ease;
  animation-fill-mode: forwards; /* アニメーション終了後も最後のフレームを保持 */
  animation-delay: 0s; /* or 2000ms */
}
::view-transition-new(fade-in-2) {
  animation-name: fadeInUp;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
::view-transition-new(fade-in-3) {
  animation-name: fadeInUp;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}
/* 
@keyframes old-slide {
  from {
    left: 0%;
  }
  to {
    left: 200%;
  }
}
@keyframes new-slide {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

::view-transition-old(root) {
  animation-name: old-slide;
}

::view-transition-new(root) {
  animation-name: new-slide;
} */
